
node_modules/
nodeJS/NodeJSBot/
nodeJS/telegramBot/
nodeJS/telegramBot2/

methods/exercise.txt
methods/exercise3.txt
methods/exercise4.md
methods/practiceExercise.txt
number/methods.md
objects/exercise.txt
objects/practiceExercise.txt
number/practiceExercise.txt
string/exercise.md
eventLoop/exercise.md
